@{
    ViewBag.Title = "TermsOfServices";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

<style>
    .content {
        margin-top: 30px;
    }
</style>


<section>
    <div class="panel panel-filled  col-sm-12">
        <div class="panel-body">

            <div class="nav navbar-nav navbar-right">
                <a href="@Url.Action("Login", "Account")">LOGIN</a><span></span> |

                <a href="@Url.Action("Register", "Account")">REGISTER</a>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <div class="panel m-b-none">
                        <div class="panel-body">
                            <h4 class="m-b-xs">Terms of Service</h4>
                            <hr />
                            <p>
                                By using SOCIALIZY, you automatically agree to these Terms, so you should first read them carefully. If you don't wish to accept all Terms then please don't use our service.
                                <ul>
                                    <li>
                                        We don't store your password. No one has been banned for using SOCIALIZY, but we wouldn't be responsible in the case. Don't mix it with other automation tools. We will never sell any of your information to third parties.
                                        SOCIALIZY is not affiliated with Instagram, Facebook, Twitter or any third-party partners in any way.
                                    </li>
                                </ul>

                                <ul>
                                    <li>
                                        SOCIALIZY is not affiliated with Instagram, Facebook, Twitter or any third-party partners in any way.
                                    </li>
                                </ul>

                                <ul>
                                    <li>
                                        It is your sole responsibility to comply with Twitter and Instagram rules and any legislation that you are subject to. You use SOCIALIZY at your own risk.
                                    </li>
                                </ul>

                                <ul>
                                    <li>
                                        SOCIALIZY is meant to be the only software being used in an account. If you mix it with other automation software, there's a chance your account will get banned
                                    </li>
                                </ul>

                                <ul>
                                    <li>
                                        We are not responsible for your actions and their consequences. We are not to blame in the unlikely case of your accounts getting banned for any reason.
                                    </li>
                                </ul>

                                <ul>
                                    <li>
                                        We require your Instagram and Twitter API access to obtain required information for interacting with the APIs. We don't store, give away, or otherwise distribute your information to any third parties.
                                    </li>
                                </ul>

                                <ul>
                                    <li>
                                        The expected amount of followers and likes depends on the quality of your content. We can't guarantee any amount of interaction from using SOCIALIZY.
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        We reserve the right to modify, suspend or withdraw the whole or any part of our service or any of its content at any time without notice and without incurring any liability.
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        It is your sole responsibility to check whether the Terms have changed.
                                    </li>
                                </ul>
                            </p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

